<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqwkTIYOp801fJuv1o7j834KcRBFnPsHg</string>
	<key>GCM_SENDER_ID</key>
	<string>144149624587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niotron.domingotambasacan.pnleaireviewer2026</string>
	<key>PROJECT_ID</key>
	<string>pnle-reviewer-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>pnle-reviewer-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144149624587:ios:8dad19b37f33ae9b26d40e</string>
</dict>
</plist>